<div class="flex flex-col">
  <h1 class="post-title">RailsSocialMedia Users</h1>
  <% @users.each do |u| %>
    <div class="h-20 mb-2 mx-3 w-fit">
      <%= render Components::UserPreview.new() do |p| %>
        <%= p.avatar u.config.avatar %>
        <%= p.text { u.username } %>
      <% end %>
    </div>
  <% end %>
</div>
